<div class="jumbotron">
  <h2><%= gettext "Welcome to the %{name}!", name: "MFA experiment" %></h2>
  <p class="lead">Experiments using phoenix channels<br />dynamically calling functions on the server.</p>
  <p class="lead">Module, Function, Arguments.</p>
</div>

<button class="mfa-join btn btn-primary btn-lg " data-id="<%= @id %>">Join MFA Channel</button>

<div class="toys-list">
  <button class="btn btn-primary">List toys</button>
  <ul>
  </ul>
</div>




